 <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">Shop App</h1>
                <p class="lead">Selamün Aleyküm, Allahýn rahmeti ve bereketi tüm islam alemine olsun</p>
            </div>
        </div>
    </header>